<h1>Alvaro's awesome movie quiz</h1>

<% if @answer_input == @correct_answer %>
	<h2>The answer is correct!!!</h2>
	<% else %>
	<h2>The answer is incorrect!!!</h2>
<% end %> 

<h3><a href="/">Go back to Home</a></h3>