<h1>Alvaro's awesome movie quiz</h1>

<form action="/movie_search" method="post">
	<div>
		<label for ="the_word">Your word</label>
		<input type="text" id="the_word" name="word"> 
	</div>
	<button type="submit">Start quiz!</button>
	
</form>




